@page
@model G1_Food_Inventory.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory Export";
}

<div>
    <div class="row mt-4">
        <!-- DataTales Example -->
        <div class="col-sm-12">


            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between">
                    <div>
                        <h3>
                            Statics
                        </h3>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm mb-3">
                            <div class="dropdown ">
                                <button class="btn btn-primary dropdown-toggle w-100" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Please select item
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Item 1</a>
                                    <a class="dropdown-item" href="#">Item 2</a>
                                    <a class="dropdown-item" href="#">Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="alert alert-success" role="alert">
                                Item #1 - 100
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>