@page
@model G1_Food_SellingStaff.Pages.DashboardModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G1Food_Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="./css/base.css" />
</head>

<body id="page-top">
    <div class="row">
        <div class=" col-md-6 mb-5">
            <div class="card border-left-main shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 mb-5 ">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6 mb-5">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-md-6 mb-5">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>
                        © 2023 G1-Food All Rights Reserved Site by FPT
                        University.
                    </span>
                </div>
            </div>
        </footer>
    </div>
    <!-- Custom scripts for all pages-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="./js/sb-admin-2.min.js"></script>

    <!-- For chart-->
    <script src="./vendor/chart.js/Chart.min.js"></script>
    <script src="./js/demo/chart-bar-demo.js"></script>
    <script src="./js/demo/chart-area-demo.js"></script>
    <script src="./js/demo/chart-pie-demo.js"></script>

    <!-- For data table -->
    <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="./js/demo/datatables-demo.js"></script>

    <!-- Your custom javascript file -->
    <script src="./js/main.js"></script>
</body>
