@page
@model G1_Food_SellingStaff.Pages.DashboardModel
@{
    ViewData["Title"] = "Home page";
}

<body id="page-top">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card border-left-main shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 mb-5 ">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center position-relative">
                        <div class="col mr-2">
                            <div class="px-2 py-1">

                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>

                                <div class="d-flex mt-1">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã đơn:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark p-0">
                                        G1F000001
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tên:
                                    </div>
                                    <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                        Le Van A
                                    </div>
                                </div>

                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Món đã đặt:
                                </div>
                            </div>

                            <div class="background-primary border-radius-1">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Cơm gà
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 2
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Cơm gà không có gà.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phở bò
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            Số lượng: 1
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                            35.000vnđ
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                            Không bỏ hành giúp em.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2 py-1">
                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                    Phải thanh toán:
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Tổng giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                        105.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Mã giảm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-danger mb-1 p-0 text-right">
                                        G1FNUMBERONE
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Giãm giá:
                                    </div>
                                    <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                        -99.000vnđ
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                        Thành tiền:
                                    </div>
                                    <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                        6.000vnđ
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="py-1">
                                    <button class="btn sm">Từ chối</button>
                                </div>
                                <div class="py-1 ml-1">
                                    <button class="btn sm bg-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
