@page
@model G1Food_Cashier.Pages.Shared.CashierAtSroreModel
@{
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G1Food_Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>


    <div class="container-fluid">
        <div class="d-flex">
            <div class="row col-xl-7">
                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-plus mt-1 main-color"></i>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-minus mt-1 main-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-trash main-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-plus mt-1 main-color"></i>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-minus mt-1 main-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-trash main-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-plus mt-1 main-color"></i>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-minus mt-1 main-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-trash main-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-plus mt-1 main-color"></i>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-minus mt-1 main-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-trash main-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-plus mt-1 main-color"></i>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-minus mt-1 main-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-trash main-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="col-xl-12 mb-4 cashier">
                    <div class="shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2 mt-3">
                                    <div class="d-flex">
                                        <div class="col-md-2 font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-dark p-0">
                                            Cánh gà
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 font-weight-bold text-dark mb-1 p-0">
                                            Loại:
                                        </div>
                                        <div class="col-md-10 text-dark p-0">
                                            Cánh
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 font-weight-bold text-dark mb-1 p-0">
                                            Số lượng còn:
                                        </div>
                                        <div class="col-md-8 text-dark p-0">
                                            25
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-4 text-dark mb-1 p-0 text-line-through">
                                            45.000vnd
                                        </div>
                                        <div class="col-md-5 text-dark mb-1 p-0">
                                            45.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="img-cashier shadow mt-5">
                                            <img src="" alt="" srcset="">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3 d-flex justify-content-end">
                                        <button class="btn">Button main</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Custom scripts for all pages-->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="./js/sb-admin-2.min.js"></script>

<!-- For chart-->
<script src="./vendor/chart.js/Chart.min.js"></script>
<script src="./js/demo/chart-bar-demo.js"></script>
<script src="./js/demo/chart-area-demo.js"></script>
<script src="./js/demo/chart-pie-demo.js"></script>

<!-- For data table -->
<script src="./vendor/datatables/jquery.dataTables.min.js"></script>
<script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="./js/demo/datatables-demo.js"></script>

<!-- Your custom javascript file -->
<script src="./js/main.js"></script>
@*  @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>

