@page
@model G1Food_Cashier.Pages.CashierStatisticsModel
@{
    ViewData["Title"] = "Cashier at store";
}


<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex">
            <div class="row col-xl-7">
                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-plus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-minus mt-1 main-color"></i>
                                                </button>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="bg-none"> 
                                    <i class="fa-solid fa-trash main-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-plus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-minus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="bg-none">
                                        <i class="fa-solid fa-trash main-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-plus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-minus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="bg-none">
                                        <i class="fa-solid fa-trash main-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-plus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-minus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="bg-none">
                                        <i class="fa-solid fa-trash main-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 mb-4">
                    <div class="card border-left-main shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="d-flex">
                                        <div class="col-xl-8 h5 mb-0 font-weight-bold text-gray-800">
                                            Gà chiên
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-plus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                30
                                            </div>
                                            <div class="col-auto">
                                                <button class="bg-none">
                                                    <i class="fa-solid fa-minus mt-1 main-color"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="bg-none">
                                        <i class="fa-solid fa-trash main-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="col-xl-12 mb-4 cashier">
                    <div class="shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2 mt-3">
                                    <div class="d-flex">
                                        <div class="col-md-2 font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-dark p-0">
                                            Cánh gà
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 font-weight-bold text-dark mb-1 p-0">
                                            Loại:
                                        </div>
                                        <div class="col-md-10 text-dark p-0">
                                            Cánh
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-5 font-weight-bold text-dark mb-1 p-0">
                                            Số lượng còn:
                                        </div>
                                        <div class="col-md-7 text-dark p-0">
                                            25
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 font-weight-bold text-dark mb-1 p-0">
                                            Giá:
                                        </div>
                                        <div class="col-md-4 text-dark mb-1 p-0 text-line-through">
                                            45.000vnd
                                        </div>
                                        <div class="col-md-5 text-dark mb-1 p-0">
                                            45.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="img-cashier shadow mt-5">
                                            <img src="" alt="" srcset="">
                                        </div>
                                    </div>
                                    <div class="col-sm-11 mt-3 d-flex justify-content-end">
                                        <button class="btn">Chọn sản phẩm</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
