@page
@model G1Food_Cashier.Pages.CashierStatisticsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G1Food_Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-xl-6 col-md-6"></div>
            <div class="col-xl-6 col-md-6 text-center font-weight-bold text-gray-800 text-uppercase">
                Tổng giá trị trong ngày: <span class="main-color"> 11,111,111vnd</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs  font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn online
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn tại quầy
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn cơm gà
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn gà rán
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn gà giòn vui vẻ
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn combo gà
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Custom scripts for all pages-->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="./js/sb-admin-2.min.js"></script>

<!-- For chart-->
<script src="./vendor/chart.js/Chart.min.js"></script>
<script src="./js/demo/chart-bar-demo.js"></script>
<script src="./js/demo/chart-area-demo.js"></script>
<script src="./js/demo/chart-pie-demo.js"></script>

<!-- For data table -->
<script src="./vendor/datatables/jquery.dataTables.min.js"></script>
<script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="./js/demo/datatables-demo.js"></script>

<!-- Your custom javascript file -->
<script src="./js/main.js"></script>
@* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>

