@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G1Food_Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/base.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body-cashier">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            ID:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark mb-1 p-0">
                                            Không cần dụng cụ ăn uống
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Mã giảm giá:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0">
                                            99%
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Cơm gà
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                2
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Không để rau
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Gà chiên
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                5
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Xin thêm 1 cái được hông ^^
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Combo gà G1
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                1
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Sốt cay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tổng giá gốc:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            100.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá giảm:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            99.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Thành tiền:
                                        </div>
                                        <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                            1.000vnd
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="py-1">
                                        <button class="btn sm">Từ chối</button>
                                    </div>
                                    <div class="py-1">
                                        <button class="btn sm bg-success">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-12 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body-cashier">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            ID:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark mb-1 p-0">
                                            Không cần dụng cụ ăn uống
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Mã giảm giá:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0">
                                            99%
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Cơm gà
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                2
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Không để rau
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Gà chiên
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                5
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Xin thêm 1 cái được hông ^^
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Combo gà G1
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                1
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Sốt cay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tổng giá gốc:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            100.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá giảm:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            99.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Thành tiền:
                                        </div>
                                        <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                            1.000vnd
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="py-1">
                                        <button class="btn sm">Từ chối</button>
                                    </div>
                                    <div class="py-1">
                                        <button class="btn sm bg-success">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-12 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body-cashier">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            ID:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark mb-1 p-0">
                                            Không cần dụng cụ ăn uống
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Mã giảm giá:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0">
                                            99%
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Cơm gà
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                2
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Không để rau
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Gà chiên
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                5
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Xin thêm 1 cái được hông ^^
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Combo gà G1
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                1
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Sốt cay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tổng giá gốc:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            100.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá giảm:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            99.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Thành tiền:
                                        </div>
                                        <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                            1.000vnd
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="py-1">
                                        <button class="btn sm">Từ chối</button>
                                    </div>
                                    <div class="py-1">
                                        <button class="btn sm bg-success">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-12 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body-cashier">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            ID:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tên:
                                        </div>
                                        <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                            ID-G1FOODDDDDDDDDDDDDDDD
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Ghi chú:
                                        </div>
                                        <div class="col-md-9 text-xs text-dark mb-1 p-0">
                                            Không cần dụng cụ ăn uống
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Mã giảm giá:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0">
                                            99%
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Cơm gà
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                2
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Không để rau
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Gà chiên
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                5
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Xin thêm 1 cái được hông ^^
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="background-primary border-radius-1">
                                    <div class="px-2 py-1">
                                        <div class="d-flex">
                                            <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Combo gà G1
                                            </div>
                                            <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                1
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                Ghi chú:
                                            </div>
                                            <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                Sốt cay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Tổng giá gốc:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            100.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Giá giảm:
                                        </div>
                                        <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                            99.000vnd
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Thành tiền:
                                        </div>
                                        <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                            1.000vnd
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="py-1">
                                        <button class="btn sm">Từ chối</button>
                                    </div>
                                    <div class="py-1">
                                        <button class="btn sm bg-success">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for all pages-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="./js/sb-admin-2.min.js"></script>

    <!-- For chart-->
    <script src="./vendor/chart.js/Chart.min.js"></script>
    <script src="./js/demo/chart-bar-demo.js"></script>
    <script src="./js/demo/chart-area-demo.js"></script>
    <script src="./js/demo/chart-pie-demo.js"></script>

    <!-- For data table -->
    <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="./js/demo/datatables-demo.js"></script>

    <!-- Your custom javascript file -->
    <script src="./js/main.js"></script>
   @*  @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
