@page
@model G1_Food_ChefStaff.Pages.ChefDashboardModel
@{
    ViewData["Title"] = "Dashboad";
}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Order item -->
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-md-12 mb-4">
                            <div class="card border-left-main shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="col-md-2 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                ID:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                TÊN:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="col-md-4 text-xs font-weight-bold main-color text-uppercase mb-1">
                                                GHI CHÚ:
                                            </div>
                                            <div class="col-md-10 font-weight-bold text-gray-800">
                                                SE1605_00000000000
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="background-primary rounded">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            Bánh bao
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            Nhiều thịt ít cơm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-lg-center mt-3">
                                                <div class="py-1">
                                                    <button class="btn sm bg-success">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
