@page
@model G1_Food_ChefStaff.Pages.ScheduleMmanagementModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G1Food_Admin</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="./css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body id="page-top">
    <div id="wrapper ">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid ">
                    <h4 class="fs-md mb-2 text-gray-800">Quán lý lịch trình</h4>

                    <div class="row mt-4 d-flex align-items-center justify-content-center">

                        <div class="col-sm-12 col-md-6 d-flex justify-content-end">
                            <button class="btn">Cái Nút</button>
                        </div>
                        
                   

                        @* <div class="col-sm-12 col-md-2">
                        <button class="btn bg-warning">Button warning</button>
                        </div> *@
                        <div class="row mt-4  d-flex align-items-center justify-content-center">
                            <!-- DataTales Example -->
                            <div class="col-sm-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        @*                                         <h6 class="m-0 font-weight-bold main-color">
                                        Data table's name
                                        </h6> *@
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered db-table table-hover"
                                                   id="dataTable"
                                                   width="100%"
                                                   cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Ngày</th>
                                                        <th>Ghi chú</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                
                                                        <td>Đi làm phải đi đúng giờ, hong đúng giờ sếp đá đít</td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                     
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                  
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                    
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                   
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*
    <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div *@

    <!-- Custom scripts for all pages-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="./js/sb-admin-2.min.js"></script>

    <!-- For chart-->
    <script src="./vendor/chart.js/Chart.min.js"></script>
    <script src="./js/demo/chart-bar-demo.js"></script>
    <script src="./js/demo/chart-area-demo.js"></script>
    <script src="./js/demo/chart-pie-demo.js"></script>

    <!-- For data table -->
    <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="./js/demo/datatables-demo.js"></script>

    <!-- Your custom javascript file -->
    <script src="./js/main.js"></script>
    @*       @await RenderSectionAsync("Scripts", required: false) *@
</body>

</html>